## Edited by ansible
{{ backups_cron_schedule }} root touch /var/lib/cron/start_{{ backups_path }}_backup.txt && /opt/scripts/backups/backup_{{ backups_path }}.sh && touch /var/lib/cron/end_{{ backups_path }}_backup.txt
