## Edited by ansible

## Backups
{{ postgresql_replication_wal_g_cron_backup }} root touch /var/lib/cron/start_walgbasebackup_backup.txt && /opt/scripts/backups/wal_pg_basebackup.sh -m && touch /var/lib/cron/end_walgbasebackup_backup.txt

## Cleans
{{ postgresql_replication_wal_g_cron_clean }} root touch /var/lib/cron/start_walgbasebackup_clean.txt && /opt/scripts/backups/wal_pg_basebackup.sh -c {{ postgresql_replication_wal_g_cron_retains }} && touch /var/lib/cron/end_walgbasebackup_clean.txt