auth_enabled: false
server:
  http_listen_port: 3100
  grpc_listen_port: 9096
common:
  instance_addr: 0.0.0.0
  path_prefix: {{ loki_dir_data }}
  storage:
    filesystem:
      chunks_directory: {{ loki_dir_data }}/chunks
      rules_directory: {{ loki_dir_data }}/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100
  parallelise_shardable_queries: false
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
